---
import MainLayout from "../layouts/MainLayout.astro";
import Showcase from '../components/Showcase.astro';
import Features from "../components/Features.astro";
---

<MainLayout title="Home">
	<Showcase showExtra={true} />
	<h1>Hello World</h1>
</MainLayout>
